# Server Configuration
PORT=

# MongoDB Configuration
MONGODB_URI=
MONGODB_DATABASE=

# JWT Configuration
JWT_SECRET=
JWT_EXPIRATION=

# Admin Configuration (for first user)
ADMIN_EMAIL=
ADMIN_PASSWORD=
